@mixin clearfix {
  &:after {
    content: "";
    display: table;

    // float left and right therefore use 'both'
    clear: both;
  }
}

@mixin absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
